#CounterLabel {
    display: block;
    text-align: center;
    font-size: 50px;
}

#decreaseButton, #resetButton, #increaseButton {
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
}

#JOJO{
    display: none;
}

#innerdiv{
    background-color: lightgreen;
    width : 100px;
    height: 100px;
    border : 1px solid;
}

#outerdiv{
    background-color: lightgreen;
    width : 200px;
    height: 200px;
}

#player{
    background-color: red;
    width : 100px;
    height: 100px;
    border : 1px solid;
    position : relative;
}

#myDiv{
    background-color: rebeccapurple;
    height: 100px;
    width: 100px;
    position: relative;
}
